########################################################################
# Datastore Details
## disabled = 'disabled'
## mysql/mariadb = 'mysql'
## sqlite = 'sqlite'
## postgres = 'postgres'
## surrealdb = 'surreal'

DATASTORE_TYPE='sqlite'
DATASTORE_HOST='localhost'
DATASTORE_PORT=3306
DATASTORE_NAME='datastore'
DATASTORE_USER='root'
DATASTORE_PASSWORD='root'
DATASTORE_SECURE='false' # If false, an attempt will be made where possible.